body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    background: url(https://images.unsplash.com/photo-1519972064555-542444e71b54?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80) bottom no-repeat;
    background-size: cover;
}

h1 {
    color: rgb(4, 2, 18);
    font-size: 100px;
    font-family: Georgia;
    text-decoration: underline;
    text-transform: uppercase;
}

.news {
    background-color: ivory;
    padding: 20px 0px 20px;
}

.article {
    width: 768px;
    margin: 0px auto 32px;
    padding: 6px 15px;
    border-bottom: 1px solid rgb(4, 2, 18);
}

article a {
    color: rgb(4, 2, 18);
    text-decoration: none;
}

article a:hover {
    color: blue;
}

article h2 {
    font-family: helvetica;
    text-transform: uppercase;
    margin-bottom: 1px;
}

.article-meta {
    color: darkgrey;
    margin-bottom: 5px;
}

article img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.news:nth-child(odd) {
    background-color: burlywood;
}

.new-text::before {
    content: "New--> ";
    color: red;
    text-transform: uppercase; 
    font-size: 150%;
    font-style: italic;
}

footer {
    padding-top: 30px;
    padding-bottom: 60px;
    text-align: center;
    background-color: ivory;
}

footer .links {
    margin-bottom: 50px;
}

footer .links > a {
    color: rgb(4, 2, 18);
    padding: 10px 25px;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;

}

.copyright {
    color: darkgrey;
    font-family: Georgia;
    font-size: 10px;
}